{% extends "base.html" %}
{% block title %}Home - SecureElect{% endblock %}
{% block content %}
<div class="blue_box" style="width: 100%;">
    <div id="blue_box_text">
        <h2>FUTURE OF VOTING IS HERE</h2>
        <span id="dynamic-text">
            <p>Your Vote. Your Voice. Secured Forever</p>
            <p>Secure Elections Start Here</p>
        </span>
        <a href="{{ url_for('login') }}">
            <div class="Get-started">
                <span>Get Started</span>
            </div>
        </a>
    </div>
    <img id="vote-img" src="{{ url_for('static', filename='imgs/sc1.png') }}" alt="Voting Screenshot">
</div>
<div class="middle-box">
    <div class="box-container">
        <div class="small-box">
            <div class="div-img">
                <a href="{{ url_for('vote_page') }}">
                    <img src="{{ url_for('static', filename='imgs/register.png') }}" alt="Click here to register" width="100" height="100">
                </a>
            </div>
            <div class="div-text">
                <a href="{{ url_for('vote_page') }}">Click To Vote</a>
            </div>
        </div>
        <div class="small-box">
            <div class="div-img">
                <a href="{{ url_for('result_page') }}">
                    <img src="{{ url_for('static', filename='imgs/result.png') }}" alt="View result" width="100" height="100">
                </a>
            </div>
            <div class="div-text">
                <a href="{{ url_for('result_page') }}">Live Results</a>
            </div>
        </div>
        <div class="small-box">
            <div class="div-img">
                <a href="{{ url_for('register_party') }}">
                    <img src="{{ url_for('static', filename='imgs/wtv.png') }}" alt="Where To Vote" width="100" height="100">
                </a>
            </div>
            <div class="div-text">
                <a href="{{ url_for('register_party') }}">Register As Party</a>
            </div>
        </div>
        <div class="small-box">
            <div class="div-img">
                <a href="{{ url_for('details') }}">
                    <img src="{{ url_for('static', filename='imgs/details.png') }}" alt="Party Details" width="100" height="100">
                </a>
            </div>
            <div class="div-text">
                <a href="{{ url_for('details') }}">Registered Party Details</a>
            </div>
        </div>
    </div>

    <div class="vote-count">
        <!-- Optional dynamic vote count -->
    </div>

    <div class="get-involved">
        <h2>Empower Democracy. Be a Part of the Change.</h2>
        <p>Every vote matters. Every voice counts. Take a step towards a stronger nation.</p>
        <a href="{{ url_for('login') }}" class="cta-button">Register to Vote</a>
    </div>
</div>
<div class="bottom">
    <p>© 2025 SecureElect. Ensuring secure and transparent digital voting.</p>
</div>
{% endblock %}
